.input-wrapper {
  display: flex;
  align-items: center;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: transparent;
  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.placeholder {
  margin-right: 5px;
}

.inputWithCaretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  height: 3px;
  width: 10px;
  background: var(--primary-color);
  bottom: 0;
  left: 0;
  animation: blink-caret 0.7s forwards infinite;
}

@keyframes blink-caret {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.01;
  }

  100% {
    opacity: 1;
  }
}
