.profile-page {
  padding: 20px;
  border: 2px solid var(--inverted-bg-color);
  max-width: 500px;
}

.title {
  display: flex;
}

.refactor-btn {
  margin-left: auto;
}

.data {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
